---
import { Icon } from 'astro-icon/components'
import type { CompatibilityItem } from '~/types'

export interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<div class="w-full max-w-6xl space-y-2">
  <div class="relative border border-default bg-offset px-6 pb-4 pt-8">
    <h3
      class="text-md absolute left-4 top-0 -translate-y-1/2 rounded-full border border-current bg-default px-4 py-1 font-semibold uppercase tracking-tight text-primary"
    >
      {title}
    </h3>
    <p class="">
      {description}
    </p>
  </div>
</div>
