---
import { Icon } from 'astro-icon/components'
import ContentSection from '~/components/content-section.astro'
import type { FeatureItem } from '~/types'

const features: Array<FeatureItem> = [
  {
    title: 'Misión',
    description:
      'En Indalmor, nos dedicamos a proporcionar soluciones innovadoras y de alta calidad en productos de vidrio y aluminio. Nos comprometemos a ofrecer productos y servicios que sean duraderos, funcionales y estéticamente atractivos, adaptados a las necesidades específicas de cada proyecto.',
    icon: 'mdi:handshake'
  },
  {
    title: 'Visión',
    description:
      'Nuestra visión es liderar en el mercado mediante la excelencia en el diseño, la fabricación e instalación de estructuras y productos de vidrio y aluminio. Utilizamos y materiales de primera calidad para garantizar la durabilidad, seguridad y eficiencia energética de nuestras soluciones.',
    icon: 'mdi:feather'
  }
]
---

<ContentSection title="ACERCA DE NOSOTROS" id="sobre-nosotros">
  <Fragment slot="lead">
    Conoce más sobre nuestra empresa y nuestros valores.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:flex md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-pretty text-center text-offset text-sm">
            {description}
          </p>
        </li>
      ))
    }
  </ul>
</ContentSection>
