---
import { Icon } from 'astro-icon/components'
import type { FooterLink } from '~/types'

const links: Array<FooterLink> = [
  {
    url: 'https://www.instagram.com/indalmormx',
    description: 'Indalmor Instagram',
    icon: 'fa-brands:instagram'
  },
  {
    url: 'https://www.facebook.com/indalmormx',
    description: 'Indalmor',
    icon: 'fa-brands:facebook'
  }
]
---

<footer
  class="bg-footer flex h-64 items-center justify-center bg-opacity-90 bg-cover"
>
  <ul class="flex items-center justify-center gap-4">
    {
      links.map(link => (
        <li>
          <a
            target="_blank"
            class="flex size-16 items-center justify-center rounded-full border-4 border-current p-4 text-white hover:text-primary"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>

<style>
  .bg-footer {
    background-image: url('/footerbg.webp');
  }
</style>
