---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://www.instagram.com/vri.admonyserv",
    description: "VRI Instagram",
    icon: "fa-brands:instagram",
  },
];
---

<footer
  class="flex h-64 items-center justify-center bg-opacity-90 bg-footer bg-cover"
>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            target="_blank"
            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>

<style>
  .bg-footer {
    background-image: url("/footerbg.webp");
  }
</style>
