---
import ContentSection from '~/components/content-section.astro'
---

<ContentSection title="Servicios de Vidrios y Cancelería" id="intro">
  <img slot="eyebrow" src="/FULLLOGO.png" alt="logo" class="w-64" />
  <!-- <Icon slot="eyebrow" name="logomark" class="size-32" /> -->
  <Fragment slot="lead">
    ¡Bienvenidos a<span class="text-primary"> INDALMOR</span>!
  </Fragment>
  <p class="max-w-4xl">
    Somos un taller especializado y certificado por Eurovent para el diseño,
    fabricación de ventanas de aluminio y cristal templado. Amplia Gama de
    Productos: Ofrecemos una extensa variedad de productos adaptados a sus
    necesidades específicas. <span class="text-primary">
      Compromiso con la Calidad
    </span>: Estamos comprometidos con la mejora continua y el cumplimiento de
    los más altos estándares de calidad en cada proyecto
  </p>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div> -->
</ContentSection>
