---
import ContentSection from '~/components/content-section.astro'
---

<ContentSection title="Servicios de Vidrios y Cancelería" id="intro">
  <img slot="eyebrow" src="/LOGO.png" alt="logo" class="size-40" />
  <!-- <Icon slot="eyebrow" name="logomark" class="size-32" /> -->
  <Fragment slot="lead">
    ¡Bienvenidos a<span class="text-primary"> VRI</span>!
  </Fragment>
  <p class="max-w-4xl">
    Somos especialistas certificado por Cuprum eurovente la fabricación de
    ventanas de aluminio, ofreciendo una amplia gama de productos adaptados a
    tus necesidades. Descubre cómo nuestras soluciones en aluminio y variedad de
    vidrios (normal, templado, satinado y laminado) pueden transformar tu
    espacio. Cada cliente es único, y nos esforzamos por establecer relaciones
    sólidas y de confianza, basadas en la transparencia, la integridad y un
    servicio personalizado. Estamos comprometidos con la mejora continua, la
    sostenibilidad y el cumplimiento de los más altos estándares de calidad en
    cada proyecto que emprendemos.
  </p>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div> -->
</ContentSection>
